body {
    background-color: babyblue;
}

.fulltext {
    max-width: 900px;
    padding: 20px;
    margin: auto;
}

.section-1 {
    background-color: aqua;
}

.section-2 {
    background-color: azure;
}

.section-3 {
    background-color: blueviolet;
}